@tailwind base;
@tailwind components;
@tailwind utilities;

#Hero{
  background-image: url("../src/Images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 570px) {
    #Hero {
      background-image: url("../src/Images/hero.jpg");
      background-size: center;
    }
  }
  